.assistanceSection {
    padding: 50px 20px;
    background-color: #b5ceed;
    text-align: center;
  }
  
  .assistanceContainer {
    max-width: 700px;
    margin: auto;
  }
  
  .assistanceTitle {
    font-size: 2.2rem;
    color: #3e6082;
    margin-bottom: 10px;
  }
  
  .assistanceSubtitle {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .assistanceDescription {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #17395B;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: white;
    color: #17395B;
  }
  
