.section {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .container {
    max-width: 1000px;
    width: 100%;
    text-align: left;
  }
  
  /* Title section */
  .titleContainer {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .subtitle {
    font-size: 1rem;
    color: gray;
  }
  
  .title {
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
  }
  
  /* Steps with vertical line and bullets */
  .stepList {
    list-style: none;
    position: relative;
    padding-left: 20px;
    margin: 20px 0;
  

  }
  
  .stepItem {
    position: relative;
    margin-bottom: 20px;
    line-height: 1.5;
    margin-right: 5px;
   
  }
  
  .stepItem::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 4px;
    height: 12px;
    width: 12px;
    background-color: black;
    border-radius: 50%;
  }
  
  .stepItem:not(:last-child)::after {
    content: '';
    position: absolute;
    left: -15px;
    top: 15px;
    width: 2px;
    height: calc(100% + 8px);
    background-color: black;
  }
  
  /* Button section */
  .buttonSection {
    text-align: center;
    margin-top: 30px;
  }
  
  .button {
    background-color: #e65100;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: white;
    color: #e65100;
    box-shadow: 0 0 0 2px #e65100 inset;
  }
  